In [174]:
# Import Dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from pylab import *

In [175]:
# Create references to the CSVs and import into Pandas DataFrames

measurements_csv = os.path.join("hawaii_measurements.csv")
stations_csv = os.path.join("hawaii_stations.csv")

measurements_df = pd.read_csv(measurements_csv, low_memory=False)
stations_df = pd.read_csv(stations_csv, low_memory=False)

In [176]:
# measurements_df.head()
# measurements_df.describe()
# print(measurements_df["prcp"].value_counts())
# print(measurements_df["tobs"].value_counts())

In [177]:
# Check for null values anywhere in stations_df
stations_df.isnull().values.any()

# No null values, so we won't have to clean for NaNs.

False

In [178]:
# Check for null values in measurements_df columns
measurements_df.isnull().any()

station    False
date       False
prcp        True
tobs       False
dtype: bool

In [179]:
# Count NaNs by measurements_df column
measurements_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [185]:
measurements_df['prcp'].groupby(measurements_df['station']).describe()

              count      mean       std  min   25%       50%       75%    max
station
USC00511918  1979.0  0.047971  0.241899  0.0  0.00  0.000000  0.010000   4.00
USC00513117  2709.0  0.141921  0.432863  0.0  0.00  0.020000  0.100000   7.65
USC00514830  2202.0  0.121058  0.388102  0.0  0.00  0.030000  0.121058  11.53
USC00516128  2612.0  0.429988  0.695302  0.0  0.02  0.190000  0.512500   8.06
USC00517948  1372.0  0.063602  0.172044  0.0  0.00  0.063602  0.063602   2.80
USC00518838   511.0  0.207222  0.415640  0.0  0.02  0.190000  0.207222   6.30
USC00519281  2772.0  0.212352  0.543312  0.0  0.00  0.040000  0.190000   9.64
USC00519397  2724.0  0.049020  0.209070  0.0  0.00  0.000000  0.020000   4.20
USC00519523  2669.0  0.114961  0.402711  0.0  0.00  0.000000  0.090000   6.38

In [181]:
# Calculate mean 'prcp' values by station
measurements_df.groupby("station").mean()["prcp"]

# Find which rows contain NaN
# measurements_nan_rows = measurements_df[measurements_df['prcp'].isnull()]

station
USC00511918    0.047971
USC00513117    0.141921
USC00514830    0.121058
USC00516128    0.429988
USC00517948    0.063602
USC00518838    0.207222
USC00519281    0.212352
USC00519397    0.049020
USC00519523    0.114961
Name: prcp, dtype: float64

In [182]:
# Perform 'prcp' mean value imputation per station
measurements_df["prcp"] = measurements_df.groupby("station").transform(lambda x: x.fillna(x.mean()))

# Confirm missing values were substituted (should return False)
# measurements_df['prcp'].isnull().any()

# We can prove this maintained the means by station
# measurements_df.groupby("station").mean()["prcp"]

In [183]:
measurements_df['prcp'].groupby(measurements_df['station']).describe()

              count      mean       std  min   25%       50%       75%    max
station
USC00511918  1979.0  0.047971  0.241899  0.0  0.00  0.000000  0.010000   4.00
USC00513117  2709.0  0.141921  0.432863  0.0  0.00  0.020000  0.100000   7.65
USC00514830  2202.0  0.121058  0.388102  0.0  0.00  0.030000  0.121058  11.53
USC00516128  2612.0  0.429988  0.695302  0.0  0.02  0.190000  0.512500   8.06
USC00517948  1372.0  0.063602  0.172044  0.0  0.00  0.063602  0.063602   2.80
USC00518838   511.0  0.207222  0.415640  0.0  0.02  0.190000  0.207222   6.30
USC00519281  2772.0  0.212352  0.543312  0.0  0.00  0.040000  0.190000   9.64
USC00519397  2724.0  0.049020  0.209070  0.0  0.00  0.000000  0.020000   4.20
USC00519523  2669.0  0.114961  0.402711  0.0  0.00  0.000000  0.090000   6.38